This dataset represents a customer profiling scenario for a retail or e-commerce company. Each row is a customer.

Here's what each column means:
Column	Real-World Meaning
ID	Unique identifier for each customer (Customer ID 1 to 200)
Age	Age of the customer (used to segment young, middle-aged, senior customers)
Income	Estimated annual income of the customer (used for understanding spending power)
Score	A score from 0 to 100 indicating customer engagement or loyalty â€” e.g., how actively they use the app, give feedback, or interact with offers
Purchases	Number of purchases made by the customer in the last 6 months or 1 year

In [19]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt ,seaborn as sns

CLEANING DATa

In [23]:
x=pd.read_csv('numeric_data_cleaning.csv')

df=x.copy()
print(df.head(),'\n')      # review 1st 5 rows
print(df.info())      # info about data -- it shows 2 missing values

   ID  Age    Income  Score  Purchases
0   1   56  37972.58  75.24          4
1   2   46  70760.24  79.16          4
2   3   32  71078.08  78.96          5
3   4   25  70884.89   9.12          4
4   5   38  36790.39  49.44          1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         200 non-null    int64
 1   Age        200 non-null    int64
 2   Income     199 non-null    float64
 3   Score      199 non-null    float64
 4   Purchases  200 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 7.9 KB
None

## Missing Data

In [ ]:
# print(df[['Income','Score']].to_string())    # using for observation
df['Income'].fillna(df['Income'].mean().round(2),inplace=True)              # income- filled

# before filling score first check outliars
print(np.where((df['Score']>100) | (df['Score']<0)))                        # row 75 is outliar
df.loc[75,'Score']=100                                                      # outlier change
df['Score'].fillna(df['Score'].mean().round(2),inplace=True)                # Score- filled

(array([], dtype=int64),)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         200 non-null    int64
 1   Age        200 non-null    int64
 2   Income     200 non-null    float64
 3   Score      200 non-null    float64
 4   Purchases  200 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 7.9 KB
None

C:\Users\91972\AppData\Local\Temp\ipykernel_8712\747783724.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].mean().round(2),inplace=True)              # income- filled
C:\Users\91972\AppData\Local\Temp\ipykernel_8712\747783724.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(df['Score'].mean().round(2),inplace=True)                # Score- filled


## WRONG FORMAT

In [38]:
print(df.info())        ## no object =no wrong format

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         200 non-null    int64
 1   Age        200 non-null    int64
 2   Income     200 non-null    float64
 3   Score      200 non-null    float64
 4   Purchases  200 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 7.9 KB
None

## WRONG DATA

In [53]:
print(df.head())

# check negative values
print(np.where(df<0))    # means row 100 ,colm Age  , is negative replacing value


df.loc[100,'Age']=int(df['Age'].mean())     # now no negative values

#print(df.to_string())                      # on observing data there we can say that avg purchase is 10

print(np.where(df['Purchases']>20))         # cheking row 150
print(df.loc[150,'Purchases'])      #1000
df.loc[150,'Purchases']=10

   ID  Age    Income  Score  Purchases
0   1   56  37972.58  75.24          4
1   2   46  70760.24  79.16          4
2   3   32  71078.08  78.96          5
3   4   25  70884.89   9.12          4
4   5   38  36790.39  49.44          1
(array([], dtype=int64), array([], dtype=int64))
(array([150], dtype=int64),)
1000

## FIXING DATATYPES AND OTHERS
* like scores must be int
* chnage income column name
* conv income to int

In [74]:
print(df.to_string())
df['Score']=df['Score'].astype(int)
df=df.rename(columns={'Income':'Income in Rs.'})      # columnn name changed
df['Income in Rs.']=df['Income in Rs.'].astype(int)

      ID  Age  Income in Rs.  Score  Purchases
0      1   56          37972     75          4
1      2   46          70760     79          4
2      3   32          71078     78          5
3      4   25          70884      9          4
4      5   38          36790     49          1
5      6   56          52692      5          4
6      7   36          42598     54          6
7      8   40          63847     44          3
8      9   28          75599     88          6
9     10   28          63103     35          2
10    11   41          50137     11          4
11    12   53          44516     14          7
12    13   57          59736     50          6
13    14   41          31656     61          5
14    15   20          58045     10          4
15    16   39          36279      8          3
16    17   19          59308     70          3
17    18   41          47585      7          7
18    19   47          44176     82          7
19    20   55          36717     70          6
20    21   19          44648      8          6
21    22   38          58341      8          7
22    23   50          65657     98          8
23    24   29          57896     37          6
24    25   39          70458     37          3
25    26   42          88087     81          7
26    27   44          45132     94          5
27    28   59          46912     98          5
28    29   45          28399     75          7
29    30   33          67860     37          4
30    31   32          69490      8          9
31    32   20          36992     77          4
32    33   54          59264     55          5
33    34   24          68256     42          2
34    35   38          53394     90          6
35    36   26          62711     11          3
36    37   56          52622     49          6
37    38   35          31747      1          2
38    39   21          65740     46          3
39    40   42          69876      5          5
40    41   31          61017     11          3
41    42   26          35682     11          4
42    43   43          38732     64          5
43    44   19          33043     74          6
44    45   37          61549     58          3
45    46   45          69025     96          3
46    47   24          56367     37          4
47    48   25          64108     28          5
48    49   52          36985     86          4
49    50   31          52187     22          2
50    51   34          29451     96          6
51    52   53          38423      1          6
52    53   57          63180     96          8
53    54   21          46406      4          1
54    55   19          68140     89          6
55    56   23          58069     52          2
56    57   59          91016     99          5
57    58   21          51406      7          2
58    59   46          28903     55          6
59    60   35          49482     96          4
60    61   43          35554     52          3
61    62   51          64657     62          5
62    63   27          50629     69          6
63    64   53          47940     45          3
64    65   31          48138     62          4
65    66   48          61105     58          8
66    67   32          43213     90          4
67    68   25          61655      4         10
68    69   31          65683     28          4
69    70   40          44867     95          5
70    71   57          36109     89         10
71    72   38          42305     45          3
72    73   33          60651     62          4
73    74   35          51387     27          7
74    75   41          59451     18          5
75    76   43          76444    100         10
76    77   42          53464     35          4
77    78   58          37865     58          2
78    79   46          65861      7          3
79    80   32          50770     97          5
80    81   18          63086     98          8
81    82   42          65992     69          4
82    83   24          35614     53          3
83    84   26          70730     30          8
84    85   41          63576     81          6
85    86   18          40941     68          8
86    87   25          54566     16          3
87    88   41          53858     91          3
88    89   28          50358     82          5
89    90   34          63078     94         11
90    91   25          71560     72          7
91    92   52          50109     61          4
92    93   52          69963     41          3
93    94   50          64823     93          8
94    95   22          53484     86          8
95    96   59          52642      4          3
96    97   56          32711      2          3
97    98   58          27488     37          6
98    99   45          52475     81          2
99   100   24          37161     98          7
100  101   38          49405     15          5
101  102   25          41980     59          5
102  103   29          23172     38          6
103  104   51          55359     96          1
104  105   50          43782     84         10
105  106   40          51202     83          2
106  107   41          36603     46          5
107  108   54          44977     41          4
108  109   52          73405     27          5
109  110   57          51928      5          4
110  111   39          58243     86          5
111  112   44          30936     81          6
112  113   52          85835     99          1
113  114   18          77651     99          3
114  115   52          70451     55          2
115  116   54          62431     76          5
116  117   31          50227     94          4
117  118   20          56631     84          7
118  119   18          65720     24          7
119  120   22          40571     45          2
120  121   43          43332     12          6
121  122   31          24963     95          7
122  123   56          38422     60          2
123  124   44          74919     22          7
124  125   26          44986     67          5
125  126   32          45232     61          7
126  127   32          54766     35          6
127  128   43          25816     11          5
128  129   59          64180     67          6
129  130   30          68996     52          5
130  131   49          55659     77          4
131  132   56          74770     52          7
132  133   49          30097     85          1
133  134   21          77655     55          8
134  135   47          39038     56          4
135  136   54          30801     87          5
136  137   40          46439     40          3
137  138   56          78080     13          7
138  139   32          49708      2          2
139  140   46          36011     75          5
140  141   53          30575     62         10
141  142   30          48423     70          7
142  143   49          20075     21          7
143  144   24          30497     13         10
144  145   39          73146      1          1
145  146   45          69848     35          5
146  147   19          48073     58          3
147  148   59          43015     39          8
148  149   23          50877     43          7
149  150   45          85219     90          3
150  151   45          56074     34         10
151  152   37          63646     51          5
152  153   47          46963     78          3
153  154   28          50913     39          6
154  155   45          59707     62          3
155  156   42          51891     86          4
156  157   56          21539     94          5
157  158   50          69208     14          8
158  159   18          40772     92          7
159  160   44          81669     49          5
160  161   30          60302     25          4
161  162   58          51064     45          6
162  163   20          56589     98          8
163  164   56          48372     49          4
164  165   23          42703     32          3
165  166   25          53113     63          2
166  167   44          63274     24          3
167  168   26          43032      7          9
168  169   54          40666     12          5
169  170   50          44667     12          4
170  171   59          64280     15          7
171  172   41          71788     13          8
172  173   32          55430     64          4
173  174   49          58719     18          4
174  175   49          40554     34          8
175  176   41          63151     89          5
176  177   58          58276     47          5
177  178   29          39348     66          6
178  179   56          23184     17          7
179  180   19          31691     19          2
180  181   20          39961      4          1
181  182   54          67429     16          7
182  183   34          73292     27          5
183  184   19          43407     17          4
184  185   19          43881      8          4
185  186   45          53924     12          3
186  187   40          50182     46          8
187  188   54          63964     20          7
188  189   49          42152     36          1
189  190   50          64237     50          2
190  191   18          46411     69          4
191  192   36          62809      3          6
192  193   19          45934     79          4
193  194   43          40803     62          6
194  195   49          78684      8          8
195  196   23          65978     87          7
196  197   49          23119     92          5
197  198   21          43298      6          2
198  199   28          68073     27          1
199  200   34          32050     80          7

In [75]:
##  file cleaned
df.to_csv('cleaned_file.csv')